.about-container {
  margin: 100px auto 0;
  max-width: 1000px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  ul {
    margin-top: 24px;
    margin-bottom: 24px;

    li {
      margin-top: 8px;
    }
  }

  .documentation {
    margin-top: 148px;
    color: #7b8085;

    a {
      text-decoration: none;
      color: #007bff;
    }

    a:hover {
      color: #043f81;
    }
  }
}

